
<div class="container-fluid" >
    <div class="row" >
        <div class="col-12" style="text-align:center;">
            <nav class="navbar navbar-expand" style="background-color:rgb(16, 17, 17)">
    
                <ul class="navbar-nav">                     
                   
                    

                    
                     <div *ngIf="korisnik.tip=='admin'">
                        <li class="nav-item">
                            <a class="nav-link "  style="color:white" href="http://localhost:4200/adminAccepting">Početna
                            </a>
                         </li>
                     </div>
                    

                    <div *ngIf="korisnik.tip!='admin'">
                        <li class="nav-item">
                            <a class="nav-link "  style="color:white" href="http://localhost:4200/allGroups">Početna
                            </a>
                         </li>
                    </div>
                     
                    

                     <div *ngIf="korisnik.tip=='profesor'">
                        <li class="nav-item">
                            <a class="nav-link "  style="color:white" href="http://localhost:4200/groupCreating">Napravi grupu
                            </a>
                         </li>
                     </div>

                     <div *ngIf="korisnik.tip=='admin'">
                        <li class="nav-item">
                            <a class="nav-link "  style="color:white" href="http://localhost:4200/allLessons">Sve lekcije
                            </a>
                         </li>
                     </div>

                     <div *ngIf="korisnik.tip=='student'">
                        <li class="nav-item">
                            <a class="nav-link "  style="color:white" href="http://localhost:4200/globalLessons">Globalne lekcije
                            </a>
                         </li>
                     </div>

                     <li class="nav-item">
                        <a class="nav-link "  style="color:white" href="http://localhost:4200/profile">Moj profil
                        </a>
                     </li>
                    
                     
                     <li class="nav-item">
                        <button class="btn btn-dark" (click)="logout()">Logout</button>
                     </li>
                </ul>
            </nav>
         </div>
    </div>
<div class="row text-center" >
    <div class="col-12">
        <table class="table table-dark table-striped">
            <thead>
                <tr >
                    <th colspan="12">
                        <h2>Moj profil</h2>
                    </th>
            </thead>
            <tbody>
                <tr>
                    <td>  Korisničko ime  </td>
                    <td> {{korisnik.korisnicko_ime}}   </td>
                </tr>
                <tr>
                    <td>  Tip  </td>
                    <td>  {{korisnik.tip}}  </td>
                </tr>
                <tr>
                    <td>  Ime  </td>
                    <td>  {{korisnik.ime}}   </td>
                </tr>
                <tr>
                    <td>  Prezime  </td>
                    <td>  {{korisnik.prezime}}  </td>
                </tr>
                <tr>
                    <td>  Email  </td>
                    <td>  {{korisnik.email}}  </td>
                </tr>
                <tr>
                    <td> Telefon</td>
                    <td>{{korisnik.telefon}}</td>
                </tr>
                <tr *ngIf="korisnik.slika!=undefined">
                    <td> Slika</td>
                    <td> <img  style="width: 75px;height: 75px;" src="{{korisnik.slika}}" ></td>
                </tr>
            </tbody>
        </table>
        
        
       
    </div>
</div>
<div class="text-center">
    <div *ngIf="korisnik.tip=='profesor'">
        <img src="../../assets/images/profesor.jpg" height="415px" width="700px">

    </div>
    <div *ngIf="korisnik.tip=='admin'">
        <img src="../../assets/images/admin.jpg" height="500px" width="500px">

    </div>
    <div *ngIf="korisnik.tip=='student'">
        <img src="../../assets/images/student.jpg" height="410px" width="700px">

    </div>
</div>
<div class="row" >
    <div class="col-12 " style="background-color:rgb(16, 17, 17);text-align: center;font-family:Georgia, 'Times New Roman', Times, serif;color:beige">Danilo Vučinić - Elektrotehnički fakultet 2022.All rights reserved</div>
</div>